// Specific CSS for your home-page

.home-content {
  padding: 0px 16px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home-search {
  background-color: white;
  position: absolute;
  padding: 10px;
  width: 441px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  top: 15%;
  margin: 0px 0px 0px 5%;
  border-radius: 4px;
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.button-holder a {
  color: white !important;
  text-decoration: none;
}

.search-box {
  background-color: white !important;
}

.search-box {
  background-color: white !important;
}
