.show-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.show-content {
  display: flex;
  height: 80vh;
}

.left-showbox {
  width: 700px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.left-showbox h4, .left-showbox h6{
  margin-top: 16px;
  margin-bottom: 24px;
}

.left-showbox h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.underline {
  text-decoration: underline;
}

.right-showbox {
  flex: 0 0 400px;
  padding: 40px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  height: 420px;
  position: absolute;
  top: -50px;
  left: 720px;
  width: 397px;
}

.right-showbox p {
  font-size: 16px;
}

.top-margin {
  margin-top: 16px;
}

.bottom-margin {
  margin-bottom: 36px;
}

.bottom_24 {
  margin-bottom: 24px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#counter {
  margin: 0 15px;
}
