.show-container {
  width: 86%;
  margin: 0 auto;
  position: relative;
}

.show-content {
  display: flex;
  height: 100vh;
}

.left-showbox {
  width: 700px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.left-showbox h4, .left-showbox h6{
  margin-top: 16px;
  margin-bottom: 24px;
}

.left-showbox h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.underline {
  text-decoration: underline;
}

.right-showbox {
  flex: 0 0 400px;
  position: absolute;
  top: -160px;
  left:830px;
  width: 353px;
  height: 730px;
}

.right-bookingbox {
  padding: 16px 20px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  height: 290px;
}

.right-bookingbox p {
  margin-bottom: 0;
}

.right-showbox p {
  font-size: 16px;
}

.top-margin {
  margin-top: 8px;
}

.bottom-margin {
  margin-bottom: 8px;
}

.bottom_24 {
  margin-bottom: 24px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  // color: #848484;
  height: 35px;
  padding: 3px;
  cursor: pointer;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#counter {
  margin: 0 15px;
}

.show-movie {
  background-position: center;
  background-size: cover;
  height: 427px;
  width: 353px;
}
