.resultscontainer {
  padding: 0 0 20px 0;
  margin: 10px;
}

.searchresults {
padding: 0 25px;
}

.resultsheading {
  margin: 10px 0;
  color: #3d3f3f;
}

.mapcolumn {
  display: flex;
}

.resultsmap {
  background-color: red;
}

/* List of event cards */

.events_list {
  padding-left: 0;
  margin-bottom: 0;
}

/* Event card */

.eventcard {
  &:hover {
    transform: scale(1.05);
  }
  margin-top: 10px;
  background-color: white;
  list-style: none;
  display: flex;
  text-decoration: none;
  color: #3d3f3f;
  transition: 0.3s;
}

.event__title {
  margin-top: 0;
  padding-top: 20px;
  text-decoration: none;
}

.event__thumbnail {

}

.event_info {
  margin-left: 10px;
  text-decoration: none;
}

.event__details {
  text-decoration: none;
}

.resultsmap {
  margin-top: 10px;
}

