<div class="searchresults">
  <div class="cards-container">

    <h4 class="resultsheading"><%= @events.size  %> screenings in London from 21st of August to 31st of August</h4>

    <div class="row">
      <div class="col-md-7">
        <%= render '/shared/eventscards' %>
      </div>
      <div class="col-md-5">
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

