<div class="cinema-footer">
  <div class="footer-socials">
    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © Limelite 2019
  </div>
</div>
