  <!--     THE ONE WHERE YOU ARE SIGNED IN ALREADY AND CAN SIGN OUT -->
  <div class="navbar navbar-expand-sm navbar-light navbar-cinema">
    <a class="navbar-brand" href="/">
      <img src="https://i.ya-webdesign.com/images/movie-logo-png.png" />
    </a>
    <% if params[:action] != 'home' %>
      <%= render './events/searchnav' %>
    <% end %>
    <div></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in?  %>
          <a class="nav-link host-link" href="/events/new">Host an Event</a>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://icon-library.net/images/smileyface-icon/smileyface-icon-22.jpg" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">My Profile</a>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <a class="nav-link host-link" href="/users/sign_up">Sign Up</a>
              <a class="nav-link host-link" href="/users//sign_in">Log In</a>
            </ul>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
<!--       THE ONE WHERE YOU ARE SIGNED OUT AND WANT TO SIGN IN -->


