<div class="home-content" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'rooftopcinema.jpeg' %>');">
  <div class="home-search">
    <h2><bold>Book unique film & sports screenings near you.</bold></h2>
    <h3>Where</h3>
    <p>[ PLACEHOLDER SEARCH BAR ]</p>
    <h3>When</h3>
    <p>[ PLACEHOLDER SEARCH BAR ]</p>
    <div class="button-holder"><button type="button" class="btn btn-danger">Search</button></div>
  </div>

  </div>
</div>


<body background="bgimage.jpg">

