<div class="home-content" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'rooftopcinema.jpeg' %>');">
  <div class="home-search">
    <div class="container"><h2>Book unique film & sports screenings near you.</h2></div>
    <%= render './events/search' %>
  </div>

  </div>
</div>


<body background="bgimage.jpg">
