// .alert {
//   margin: 0px;
//   position: absolute;
//   left: 10px;
//   top: 70px;
//   z-index: 1;
//   color: lightgray;
// }

.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}
