.carousel-inner {
  height: 400px;
}

.carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  position: absolute;
  top: 60px;
  margin: 0 auto;
}

.carousel-caption h3 {
  font-size: 40px;
  margin-top: 54px;
  margin-bottom: 24px;
}
