.notice {
  position: absolute;
  left: 10px;
  top: 70px;
  z-index: 1;
  color: gray;
}

.alert-info {
  position: absolute;
  background-color: rgba(13, 172, 46, 0.4);
  color: white;
  padding: 3px 5px;
  border: none;
  margin: 7px;
  z-index: 5;
  border-radius: 3px;
  font-size: 0.9rem;
}

.alert-warning {
  position: absolute;
  background-color: rgba(247, 1, 1, 0.4);;
  color: white;
  padding: 3px 5px;
  border: none;
  margin: 7px;
  z-index: 5;
  border-radius: 3px;
  font-size: 0.9rem;
}

.alert-dismissible .close {
  position: relative;
  text-shadow: none;
  float: right;
  padding: 0;
  font-size: 1.5rem;
}

