.navbar {
  background-color: white;
  display: flex;
  align-items: center;
}

.navbar-cinema {
  justify-content: space-between;
  background: white;
}

.navbar-cinema .navbar-collapse {
  flex-grow: 0;
}

.navbar-cinema .navbar-brand img {
  width: 150px;
  padding: 0px
}

.host-link {
  color: #5f6060;
}

.dropdown-item {
  color: #3d3f3f;
}

.navbar-light .navbar-nav .nav-link {
  color: #3d3f3f;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.myevents {
  margin-top: 30px;
}

//For non-home navbar

.navbarsearchform {
  input {
    margin-right: 2px;
  }
}
