.navbar {
  display: flex;
  align-items: center;
}

.navbar-cinema {
  justify-content: space-between;
  background: white;
}

.navbar-cinema .navbar-collapse {
  flex-grow: 0;
}

.navbar-cinema .navbar-brand img {
  width: 40px;
}
