.navbar {
  background-color: white;
  display: flex;
  align-items: center;
}

.navbar-cinema {
  justify-content: space-between;
  background: white;
}

.navbar-cinema .navbar-collapse {
  flex-grow: 0;
}

.navbar-cinema .navbar-brand img {
  width: 150px;
  padding: 0px
}

.host-link {
  color: #5f6060;
}

//For non-home navbar

.navbarsearchform {
  input {
    margin-right: 2px;
  }
}
